.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  text-align: center;
  width: 200px;
  height: 250px;
}

.card h3 {
  margin: 5px;
}

.card p {
  margin: 0;
  opacity: .5;
}

.card img {
  width: 100%;
  background-position: center;
  object-fit: cover;
  height: 70%;
}
